#### Social Score of Brands

Importing libraries

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import LabelEncoder

Reading files

In [2]:
week1=pd.read_csv('Market/Social Score Assignment - Dec_week1.csv')
week2=pd.read_csv('Market/Social Score Assignment - Dec_week2.csv')
week3=pd.read_csv('Market/Social Score Assignment - Dec_week3.csv')
week4=pd.read_csv('Market/Social Score Assignment - Dec_week4.csv')

Inserting new column in each dataset and merging:

In [3]:
week1['week_no.']=1
week1 = week1.reindex(['week_no.','brand','post_id','description','commentCount','dislike','likes','retweet','shareCount','videoDuration','views','Channel'], axis=1)
week1.head()

,week_no.,brand,post_id,description,commentCount,dislike,likes,retweet,shareCount,videoDuration,views,Channel
0,1,tresemme,000746919F8F00FA8A477330301E9388,Join us at Lakm√© Fashion Week to get the tren...,0,4,3,NaN,NaN,31,"14,33,871",youtube
1,1,tresemme,0416F0240E508438C119D3980B5A2ACC,Be a part of TRESemme's Interactive salon with...,1,0,5,NaN,NaN,23,"1,337",youtube
2,1,tresemme,06B003D1AF0A147F5C257782FF4A1003,Join Diana Penty for Mercedes Benz Fashion Wee...,0,2,5,NaN,NaN,5,"1,023",youtube
3,1,tresemme,08A91F917EE80A72785E66F7BEE112C4,Need a little help perfecting the side-sweep h...,0,0,2,NaN,NaN,11,"1,830",youtube
4,1,tresemme,0935154AD9527E2A21AB7FD1EE41DFED,Get a designer waterproof shower radio free wi...,0,9,22,NaN,NaN,7,"4,867",youtube

In [4]:
week2['week_no.']=2
week2 = week2.reindex(['week_no.','brand','post_id','description','commentCount','dislike','likes','retweet','shareCount','videoDuration','views','Channel'], axis=1)
week2.head()

,week_no.,brand,post_id,description,commentCount,dislike,likes,retweet,shareCount,videoDuration,views,Channel
0,2,dove,02DB19F98AFE266C7A70AB6485E9048C,Dove Intense Repair gives you unbeatable damag...,0,0,0,NaN,NaN,12,"8,71,350",youtube
1,2,dove,03107ECC0EBF140AA677C34E4193BF7C,Dove better than milk. Dove body wash at Rs. 9...,10,31,29,NaN,NaN,20,"3,69,117",youtube
2,2,dove,03B374B4A8BA83D2C401B7B22EE6F5CC,Repair hair damage caused by coloring with Dov...,0,0,0,NaN,NaN,7,88,youtube
3,2,dove,0466405BEFBAD7FB3AEA75BAE9A8C798,"Long hair, short hair or curly hair? No matter...",0,0,0,NaN,NaN,7,909,youtube
4,2,dove,05A3F448F1031BED5B6EB53AC4834371,Repair hair damage caused by ageing with Dove ...,0,0,0,NaN,NaN,7,26,youtube

In [5]:
week3['week_no.']=3
week3 = week3.reindex(['week_no.','brand','post_id','description','commentCount','dislike','likes','retweet','shareCount','videoDuration','views','Channel'], axis=1)
week3.head()

,week_no.,brand,post_id,description,commentCount,dislike,likes,retweet,shareCount,videoDuration,views,Channel
0,3,dove,01FCFFCC95CD6BFB6EE1FE304A7D15A8,"Now, colour your hair as many times or in as m...",0,0,0,NaN,NaN,12,"8,94,285",youtube
1,3,dove,02DB19F98AFE266C7A70AB6485E9048C,Dove Intense Repair gives you unbeatable damag...,0,0,0,NaN,NaN,12,"8,71,352",youtube
2,3,dove,03107ECC0EBF140AA677C34E4193BF7C,Dove better than milk. Dove body wash at Rs. 9...,10,31,29,NaN,NaN,20,"3,69,141",youtube
3,3,dove,0426A6B625BB9FF5EB2A9F6061A8462B,Repair hair damage caused by stress with Dove ...,0,0,0,NaN,NaN,7,20,youtube
4,3,dove,042761CF928426A770FF5C31499576D9,Hair fall and split ends are signs of deeper h...,0,0,0,NaN,NaN,26,401,youtube

In [6]:
week4['week_no.']=4
week4 = week4.reindex(['week_no.','brand','post_id','description','commentCount','dislike','likes','retweet','shareCount','videoDuration','views','Channel'], axis=1)
week4.head()

,week_no.,brand,post_id,description,commentCount,dislike,likes,retweet,shareCount,videoDuration,views,Channel
0,4,tresemme,BF680942AD6113D20A84E32EBDBA8766,NaN,0,NaN,0,NaN,NaN,NaN,420,instagram
1,4,tresemme,C1F5BFFBA9720FFA7638F427457D2DB9,NaN,1,NaN,0,NaN,NaN,NaN,0,instagram
2,4,tresemme,C2513FD74A90ED301AA412FD9899AB61,NaN,0,NaN,0,NaN,NaN,NaN,562,instagram
3,4,tresemme,C2C107A23B61928A04A50A4F184232B6,NaN,0,NaN,0,NaN,NaN,NaN,136,instagram
4,4,tresemme,C2D2BEFDC538AB860EC188213594B761,NaN,0,NaN,0,NaN,NaN,NaN,263,instagram

Now combining to make one dataset :

In [7]:
month_df=pd.concat([week1, week2,week3,week4])
month_df.head()

,week_no.,brand,post_id,description,commentCount,dislike,likes,retweet,shareCount,videoDuration,views,Channel
0,1,tresemme,000746919F8F00FA8A477330301E9388,Join us at Lakm√© Fashion Week to get the tren...,0,4,3,NaN,NaN,31,"14,33,871",youtube
1,1,tresemme,0416F0240E508438C119D3980B5A2ACC,Be a part of TRESemme's Interactive salon with...,1,0,5,NaN,NaN,23,"1,337",youtube
2,1,tresemme,06B003D1AF0A147F5C257782FF4A1003,Join Diana Penty for Mercedes Benz Fashion Wee...,0,2,5,NaN,NaN,5,"1,023",youtube
3,1,tresemme,08A91F917EE80A72785E66F7BEE112C4,Need a little help perfecting the side-sweep h...,0,0,2,NaN,NaN,11,"1,830",youtube
4,1,tresemme,0935154AD9527E2A21AB7FD1EE41DFED,Get a designer waterproof shower radio free wi...,0,9,22,NaN,NaN,7,"4,867",youtube

##### Data Wrangling

In [8]:
month_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 25977 entries, 0 to 6493
Data columns (total 12 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   week_no.       25977 non-null  int64
 1   brand          25977 non-null  object
 2   post_id        25977 non-null  object
 3   description    5174 non-null   object
 4   commentCount   14113 non-null  object
 5   dislike        4221 non-null   object
 6   likes          25977 non-null  object
 7   retweet        11864 non-null  float64
 8   shareCount     1167 non-null   object
 9   videoDuration  17252 non-null  object
 10  views          12946 non-null  object
 11  Channel        25977 non-null  object
dtypes: float64(1), int64(1), object(10)
memory usage: 2.6+ MB

In [9]:
month_df.shape

(25977, 12)

In [10]:
month_df.describe().T

            count       mean        std  min  25%  50%   75%    max
week_no.  25977.0   2.500520   1.117728  1.0  2.0  3.0   3.0    4.0
retweet   11864.0  25.584626  46.643841  0.0  1.0  4.0  33.0  819.0

#### Twitter data

In [11]:
twitter=['week_no.','brand','likes','retweet','videoDuration','Channel']
df_twitter=month_df[twitter][month_df[twitter]['Channel']=='twitter']
df_twitter.reset_index(drop=True,inplace=True)
df_twitter.head()

   week_no.     brand likes  retweet videoDuration  Channel
0         1  tresemme     1      0.0             0  twitter
1         1  tresemme     1      0.0             0  twitter
2         1  tresemme     0      6.0             0  twitter
3         1  tresemme     3      2.0            23  twitter
4         1  tresemme     0      5.0             0  twitter

In [12]:
df_twitter.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11864 entries, 0 to 11863
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   week_no.       11864 non-null  int64
 1   brand          11864 non-null  object
 2   likes          11864 non-null  object
 3   retweet        11864 non-null  float64
 4   videoDuration  11864 non-null  object
 5   Channel        11864 non-null  object
dtypes: float64(1), int64(1), object(4)
memory usage: 556.2+ KB

In [13]:
Columns=['likes','videoDuration']
for i in Columns:
    df_twitter[i]=df_twitter[i].str.replace(',','')
    df_twitter[i]=df_twitter[i].astype('int64')

In [14]:
df_twitter.dtypes

week_no.           int64
brand             object
likes              int64
retweet          float64
videoDuration      int64
Channel           object
dtype: object

#### Instagram data

In [15]:
insta=['week_no.','brand','commentCount','likes','views','Channel']
df_insta=month_df[insta][month_df[insta]['Channel']=='instagram']
df_insta.reset_index(drop=True,inplace=True)
df_insta.head()

   week_no.     brand commentCount likes  views    Channel
0         1  tresemme            0     0    571  instagram
1         1  tresemme            2     0    779  instagram
2         1  tresemme            0   103  1,791  instagram
3         1  tresemme           25     0    491  instagram
4         1  tresemme            1     0      0  instagram

In [16]:
df_insta.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8725 entries, 0 to 8724
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   week_no.      8725 non-null   int64
 1   brand         8725 non-null   object
 2   commentCount  8725 non-null   object
 3   likes         8725 non-null   object
 4   views         8725 non-null   object
 5   Channel       8725 non-null   object
dtypes: int64(1), object(5)
memory usage: 409.1+ KB

In [17]:
Columns=['likes','views','commentCount']
for i in Columns:
    df_insta[i]=df_insta[i].str.replace(',','')
    df_insta[i]=df_insta[i].astype('int64')

In [18]:
df_insta.dtypes

week_no.         int64
brand           object
commentCount     int64
likes            int64
views            int64
Channel         object
dtype: object

#### Youtube data

In [19]:
ytbe=['week_no.','brand','description','commentCount','dislike','likes','videoDuration','views','Channel']
df_ytbe=month_df[ytbe][month_df[ytbe]['Channel']=='youtube']
df_ytbe.reset_index(drop=True,inplace=True)
df_ytbe.head()

,week_no.,brand,description,commentCount,dislike,likes,videoDuration,views,Channel
0,1,tresemme,Join us at Lakm√© Fashion Week to get the tren...,0,4,3,31,"14,33,871",youtube
1,1,tresemme,Be a part of TRESemme's Interactive salon with...,1,0,5,23,"1,337",youtube
2,1,tresemme,Join Diana Penty for Mercedes Benz Fashion Wee...,0,2,5,5,"1,023",youtube
3,1,tresemme,Need a little help perfecting the side-sweep h...,0,0,2,11,"1,830",youtube
4,1,tresemme,Get a designer waterproof shower radio free wi...,0,9,22,7,"4,867",youtube

In [20]:
df_ytbe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4221 entries, 0 to 4220
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   week_no.       4221 non-null   int64
 1   brand          4221 non-null   object
 2   description    4121 non-null   object
 3   commentCount   4221 non-null   object
 4   dislike        4221 non-null   object
 5   likes          4221 non-null   object
 6   videoDuration  4221 non-null   object
 7   views          4221 non-null   object
 8   Channel        4221 non-null   object
dtypes: int64(1), object(8)
memory usage: 296.9+ KB

Let's drop the null rows as there are only 10 rows of null data

In [21]:
df_ytbe.dropna(axis=0,inplace=True)
df_ytbe.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4121 entries, 0 to 4220
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   week_no.       4121 non-null   int64
 1   brand          4121 non-null   object
 2   description    4121 non-null   object
 3   commentCount   4121 non-null   object
 4   dislike        4121 non-null   object
 5   likes          4121 non-null   object
 6   videoDuration  4121 non-null   object
 7   views          4121 non-null   object
 8   Channel        4121 non-null   object
dtypes: int64(1), object(8)
memory usage: 322.0+ KB

In [22]:
Columns=['likes','views','commentCount','dislike','videoDuration']
for i in Columns:
    df_ytbe[i]=df_ytbe[i].str.replace(',','')
    df_ytbe[i]=df_ytbe[i].astype('int64')

In [23]:
df_ytbe.dtypes

week_no.          int64
brand            object
description      object
commentCount      int64
dislike           int64
likes             int64
videoDuration     int64
views             int64
Channel          object
dtype: object

#### facebook data

In [24]:
fb=['week_no.','brand','description','commentCount','likes','shareCount','videoDuration','Channel']
df_fb=month_df[fb][month_df[fb]['Channel']=='facebook']
df_fb.reset_index(drop=True,inplace=True)
df_fb.head()

,week_no.,brand,description,commentCount,likes,shareCount,videoDuration,Channel
0,1,tresemme,Happy FriYAY! Start the day off right with the...,1,1,0,0,facebook
1,1,tresemme,Your hair's personal bodyguard üíñ Our #PROCO...,4,1,0,0,facebook
2,1,tresemme,Our hair-bassador Elle Ferguson is always read...,1,1,0,0,facebook
3,1,tresemme,When you've got 99 problems but volume ain't o...,0,0,1,0,facebook
4,1,tresemme,"Introducing our Thick & Full hair products, pa...",0,4,0,0,facebook

In [25]:
df_fb.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1167 entries, 0 to 1166
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   week_no.       1167 non-null   int64
 1   brand          1167 non-null   object
 2   description    1053 non-null   object
 3   commentCount   1167 non-null   object
 4   likes          1167 non-null   object
 5   shareCount     1167 non-null   object
 6   videoDuration  1167 non-null   object
 7   Channel        1167 non-null   object
dtypes: int64(1), object(7)
memory usage: 73.1+ KB

In [26]:
df_fb.dropna(axis=0,inplace=True)
df_fb.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1053 entries, 0 to 1166
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   week_no.       1053 non-null   int64
 1   brand          1053 non-null   object
 2   description    1053 non-null   object
 3   commentCount   1053 non-null   object
 4   likes          1053 non-null   object
 5   shareCount     1053 non-null   object
 6   videoDuration  1053 non-null   object
 7   Channel        1053 non-null   object
dtypes: int64(1), object(7)
memory usage: 74.0+ KB

In [27]:
Columns=['likes','shareCount','commentCount','videoDuration']
for i in Columns:
    df_fb[i]=df_fb[i].str.replace(',','')
    df_fb[i]=df_fb[i].astype('int64')

In [28]:
df_fb.dtypes

week_no.          int64
brand            object
description      object
commentCount      int64
likes             int64
shareCount        int64
videoDuration     int64
Channel          object
dtype: object

#### All the values have been converted to appropriate types and taken care of in the data frames belonging to different channels